html {
    font-size: 62.5%;
}

body {
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

.box {
    background-color: gold;
    padding: 1rem;
}

.box:nth-of-type(2) {
    background-color: dodgerblue;
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}

@media screen and (min-width: 900px) {
    .container {
        flex-direction: row;
    }

    .box {
        background-color: white;
    }
}

@media print {
    body {
        font-size: 12pt;
    }

    .box {
        padding: 0.5cm;
    }
}


/* .first {
    visibility: hidden;
} */

/* .container {
    display: grid;
    grid-template: 100px auto 100px / 30fr 70fr;
    grid-template-areas: 
    "header  header" 
    "sidebar main" 
    ".       footer";
    gap: 10px;
    border: 3px solid lightgray;
    height: 100vh;
}

.box {
    background-color: gold;
}

.box-one {
    grid-area: header;
}

.box-four {
    grid-area: footer;
} */

/* .container {
    border: 3px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.box {
    width: 5rem;
    height: 5rem;
    background: gold;
    margin: 1rem;
}

.box-one {
    align-self: flex-start;
} */

/* .avatar {
    width: 5rem;
    height: 5rem;
    background-color: gold;
    float: left;
    margin-right: 0.5rem;
}

.tweet {
    border: 3px solid lightgray;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.clear {
    clear: left;
} */

/* .boxes {
    border: 3px solid lightgray;
    position: relative;
}

.box {
    width: 5rem;
    height: 5rem;
}

.box-one {
    background-color: gold;
}

.box-two {
    background-color: tomato;
    position: fixed;
    top: 0;
    left: 2rem;
    right: 2rem;
    width: auto;
    z-index: 1;
}

.box-three {
    background-color: dodgerblue;
} */