html {
    font-size: 62.5%;
  }
  
  body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
  }

.hero {
    background: url(../images/hubble200.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 2px 2px 0 #000;
    word-spacing: 1.5rem;
}

.hero .tagline {
    background: rgba(0, 0, 0, 0.6);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    .hero {
        background: url("../images/hubble890.jpg") no-repeat;
        background-size: cover;
    }
    .hero .tagline {
        font-size: 3rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .hero {
        background: url("../images/hubble1341.jpg") no-repeat;
        background-size: cover;
    }

    h1 {
        font-size: 6rem;
    }
  }

  @media screen and (min-width: 1400px) {
    .hero {
        background: url("../images/hubble1400.jpg") no-repeat;
        background-size: cover;
    }

    h1 {
        font-size: 9rem;
    }
  }